@model IEnumerable<BusReviewAPI.Models.Parada>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Callep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Callep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParadaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ParadaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ParadaId })
        </td>
    </tr>
}

</table>
